$color-bg: #e9e7fd;
$color-main-bg: #f3f6fd;
$color-red: red;
$color-grey: grey;
$color-white: #ffffff;
$color-card-orange: #fde5cc;
$color-card-green: #b4f1ce;
$color-card-pink: #ffd3e2;
$color-card-purple: #edcdf8;
$color-progressbar-cyan: rgb(42, 219, 250);
$main_container_bg_color: #e9e7fd;
$sub_container_bg_color: #f3f6fd;
$white_color: #ffffff;
$black_color: #151522;
$red_color: red;
$orange_color: #fde5cc;
$green_color: #b4f1ce;
$pink_color: #ffd3e2;
$purple_color: #edcdf8;
$gray_color: gray;
