.grid-container {
  display: grid;
  grid-template-columns: 8% 57% 35%;
  overflow: visible;
  @media (min-width: 3em) and (max-width: 37.43em) {
    grid-template-rows: 8% auto auto;
    grid-template-columns: 1fr;
    overflow: hidden;
    height: 100vh;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.icon__column {
  background-color: $color-main-bg;
  height: 50rem;
  overflow: auto;
}

.usercard__column {
  background-color: $color-white;
  border-radius: 4.3rem;
  height: 100vh;
  overflow: hidden;

  &__area {
    margin: 3.7rem 4.3rem;
  }
  @media (max-width: 599px) {
    height: 100vh;
  }
  @media (min-width: 18.7em) and (max-width: 37.43em) {
    margin-top: 2rem;
  }
}

.messages__column {
  background-color: $color-main-bg;
  overflow: visible;
  height: 100vh;
  @media (max-width: 599px) {
    height: 100vh;
  }
}

.SCROLLABLE-FIX {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
  padding: 0 0 8rem 0;
}

.progress {
  overflow-y: auto;
  margin-top: -2rem;
  @include responsive(phone) {
    margin-right: 4rem;
    margin-left: -4rem;
  }
  @include responsive(tab-small) {
    margin-right: 4rem;
    margin-left: -4rem;
  }
  @include responsive(tab-large) {
    margin-right: 4rem;
    margin-left: -4rem;
  }
  @include responsive(big-screens) {
    margin-right: 6rem;
    margin-left: -4rem;
  }
  @media (min-width: 62.5em) and (max-width: 79em) {
    margin-right: 2rem;
    margin-left: -1rem;
  }
  @media (min-width: 50em) and (max-width: 62.4em) {
    margin-right: 2rem;
    margin-left: -1rem;
    padding-bottom: 2rem;
  }
  @media (min-width: 37.5em) and (max-width: 49.93em) {
    margin-right: 2rem;
    margin-left: -1rem;
    padding-bottom: 2rem;
  }
  @media (min-width: 3em) and (max-width: 37.43em) {
    padding-bottom: 13rem;
  }
  @media (max-width: 599px) {
    height: 100vh;
    padding-bottom: 28rem;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}
.messages {
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}
.hidden {
  display: none;
}
