* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 62.5%;
  @include responsive(phone) {
  }
  @include responsive(tab-small) {
    font-size: 75%;
  }
  @include responsive(tab-large) {
    font-size: 88%;
  }
  @include responsive(big-screens) {
    font-size: 90%;
  }
}
.background__container {
  width: 100vw;
  height: 100vh;

  background-color: $color-main-bg;
}
.main__container {
  position: absolute;
  width: 100vw;
  height: 100vh;

  background-color: $color-main-bg;

  overflow: hidden;
}
